.display {
  width: 95%;
  display: grid;
  padding-top: 10px;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background-color: white;
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
