.sidebar {

  display: block;
  overflow: hidden;
  grid-column: span 1 / span 1;
  position: sticky;
  @media only screen and (max-width: 768px) {
    display: none;
  }
  height: 90vh;
  top: 0px;
  bottom: 0px;

  .sidebar__component1 {
    padding-top: 10px;

    .product__button {
      margin: 0px 5px 0px 5px;
      display: flex;
      cursor: pointer;
      background: #18181b;
      justify-content: center;
      padding: 5px;
      border-radius: 10px;
      font-weight: bold;
      outline: none;
      color: #fff;
      width: 90%;
      -webkit-appearance: button;
      border: none;
      margin-top: 17px;
      height: 40px;
      align-items: center;
      align-content: center;
      span {
        margin-top: -1px;
        text-transform: capitalize;
      }
    }

    .sidebarsub__component {
      display: flex;
      flex-direction: column;
      padding: 20px 9px 10px 16px;
      width: 200px;
      .home__dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        cursor: pointer;
        .home__dash {
          //  margin-top: 5px;
          width: 18px;
          color: #18181b;
        }
        .dashboard__paragraph {
          font-size: 14px;
          margin-top: 3px;
          color: #18181b;
        }
      }
      .analytics__dashboard {
        display: flex;
        width: 50%;
        flex-direction: column;

        .analytics {
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: 500;
          text-transform: uppercase;
          color: #a1a1aa;
          padding-left: 5px;
        }

        .signals__dashboard {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 65%;
          //    padding: 10px 5px 10px 5px;
          cursor: pointer;

          .signal {
            width: 16px;
            // margin-right: 10px;
          }
          .sales {
            font-size: 14px;
            margin-top: 3px;
          }
        }
      }
      .support__dashboard {
        display: flex;
        width: 50%;
        flex-direction: column;
        .support {
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: 500;
          text-transform: uppercase;
          color: #a1a1aa;
          padding-left: 5px;
        }
        .customers__dashboard {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          cursor: pointer;

          .customers {
            width: 16px;
          }
          .customer {
            font-size: 14px;
            margin-top: 3px;
          }
        }
      }
      .shop__dashboard {
        display: flex;
        width: 50%;
        flex-direction: column;
        & p {
          font-size: 11px;
          letter-spacing: 1px;
          font-weight: 500;
          text-transform: uppercase;
          color: #a1a1aa;
          padding-left: 5px;
        }
        & div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          cursor: pointer;
          .products {
            width: 16px;
          }
          & p {
            color: black;
            text-transform: capitalize;
            font-size: 14px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .sidebar__component2 {
    margin-left: 15px;
    margin-top: 180px;
    display: flex;
    width: 39%;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    .logout {
      width: 16px;
      margin-left: 3px;
    }
    & p {
      color: black;
      text-transform: capitalize;
      font-size: 14px;
      margin-top: 3px;
    }
  }
}
