.desk__menubar{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity .2s ease-in-out;
    cursor: auto;

    .desk__menuitem{
            position: absolute;
            background-color: var(--on-settings-card);
            flex-direction: column;
            display: flex;
            border: solid 1px var(--on-settings-card);
            border-radius: 10px;
            width: 190px;
            // height: 100px;
            top: 64px;
            right: 232px;
            color: var(--wht);

      ul {
          display: flex;
          flex-direction: column;
          text-align: left;

        .desk {
         margin-left: 10px !important;
         margin: 10px;
         cursor: pointer;
         font-weight: bold;

         &:hover {
          // margin-left: -14px !important;
          border-right: solid 5px #3981C6 !important;
          background-color: var(--background--hover);
          color: #3981C6;
        }

        //  &:hover{
        //     .uil-arrow-up-right{
        //         transition: 0.2s;
        //         transform: translateX(10px);
        //     }
          
        //  }
        }
      }
    }
}