.homepage {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;

  .navbar {
      padding-left: 30px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px  #A1A1AA;
      padding: 0 10px 0px 10px;
      img {
          width: 60px;
          height: 29px;
          margin-top: 10px;
      }
      .sign_in_and_login{
          display: flex;
          flex-direction: row;

         p{
             padding: 0 10px 0 5px;
         } 
         button:last-child{
             cursor: pointer;
             background-color: #18181B;
             color: #FFFFFF;
            //  padding: 5px;
            margin: 5px;
             border-radius: 10px;
         }
      }
  }
   .splash {
       padding-top: 30px;
       display: flex;
       flex-direction: row;

    //    justify-content: space-between;

     .component__one {
         width: 50vw;
       display: flex;
       flex-direction: column;
        .wave__component {
         width: 250px;
         padding: 10px;
         border-radius: 10px;
         color: #FFFFFF;
         background: linear-gradient(90deg, #44BCFF -0.55%, #44B0FF 22.86%, #FF44EC 48.36%, #FF44EC 73.33%, #FF675E 99.34%);
        .wave {
                animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
                animation-duration: 2.5s;        /* Change to speed up or slow down */
                animation-iteration-count: infinite;  /* Never stop waving :) */
                transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
                display: inline-block;
              
              
              @keyframes wave-animation {
                  0% { transform: rotate( 0.0deg) }
                 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
                 20% { transform: rotate(-8.0deg) }
                 30% { transform: rotate(14.0deg) }
                 40% { transform: rotate(-4.0deg) }
                 50% { transform: rotate(10.0deg) }
                 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
                100% { transform: rotate( 0.0deg) }
              }
            }
       }
         h2 {
            line-height: 66px;
            font-size: 80px;
             margin-top: 10px;
            font-weight: 700;
        }
        button {
            margin-top: 20px;
            display: flex;
            cursor: pointer;
            padding: 10px;
            width: 10vw;
            border-radius: 10px;
        }


     }
     .component__two {

     }
   }
}