.div-1 {
  display: flex;
  font-size: small;
  color: #71717a;
  .customer {
    display: flex;
    width: 25%;
    align-items: center;
    .profile {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  }
  .email {
    width: 25%;
    display: flex;
    align-items: center;
    p {
      margin-left: 5px;
    }
  }
  .phone {
    width: 25%;
    display: flex;
    align-items: center;
    p {
      margin-left: 5px;
    }
  }
  .date {
    width: 25%;
    display: flex;
    align-items: center;
    p {
      margin-left: 5px;
    }
  }
  .country {
    width: 25%;
    display: flex;
    align-items: center;
    p {
      flex: 1;
    }
    .three-dots {
      margin-right: 10px;
    }
  }
}
